#logo img{
	height: 90px;
	margin: 5px 15px;
}

header {
	background: #00b788;
	height: 100px;
}



/**
 * Slider CSS Temporary!
 */
div#slider, div#slider #slider-container{
	height: 600px;
	overflow: hidden;
}
div#slider .slider-image{
	height: inherit;
	width: 100%;
	background: url('../img/slider/CarBurnout.jpg') no-repeat center center;
	background-size: cover;	
	display: none;
	float: left;
}

div#slider .slider-image.active {
	display: block;
}

.slider-buttons {
	display: inline-block;
	position: relative;
	bottom: 30px;
	width: 30px;
}

.slider-buttons .slider-button {
	width: 15px;
	height: 15px;
	background: #00b788;
	border-radius: 50%;
	transition: background 0.4s ease;
	display: inline;
	float: left;
	margin-right: 24px;	
}

.slider-buttons .slider-button.active {
	background: #ffffed;
}
.slider-buttons .slider-button:last-child {
	margin-right: 0;
}


.slider-buttons .slider-button:hover:not(.active) {
	background: #ffe852;
}